<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${post.title}">Blog Post</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <h1 class="header" th:text="${post.title}"></h1>
    <div class="post">
      <p>
        <strong>Author:</strong>
        <span class="author" th:text="${post.author.name}"></span>
      </p>
      <p class="content" th:text="${post.content}"></p>
    </div>
    <a href="/" class="back-link">Back to all posts</a>
  </body>
</html>
