<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <h1 class="header">Blog Posts</h1>
    <div th:each="post : ${posts}">
      <div th:onclick="goToPost([[${post.id}]])" class="list">
        <h2 th:text="${post.title}"></h2>
        <p>
          <strong>Author:</strong> <span th:text="${post.author.name}"></span>
        </p>
      </div>
    </div>
    <script th:inline="javascript">
      function goToPost(id) {
        window.location.href = "/post/" + id;
      }
    </script>
  </body>
</html>
